/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.user-view-page--table{
  margin: 15px;
}

.user-view-page--update-button{
  margin-right: 15px;
}

.search-container{
  margin: 15px;

}

.search-document--edit-button{
  margin-right: 15px;
}

.search--edit-button{
  margin-right: 15px;
}

.document--upload-form{
  justify-content: center;
  align-items: center;

}

.user--registration-form{
  justify-content: center;
  align-items: center;
}

.login-form{
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sider-title {
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header-topic {
  padding: 16px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

.dashboad--sider-content{
  height: 150vh;
  margin-top: 64px;
}
.dashboad--header{
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
}
